body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 310px;
}

nav .navbar-nav {
    min-width: 100%;
}

header {
    flex: 0 40px;
}



footer {
    flex: 0 0px;
}

.navbar-nav {
    margin-top: 5px !important;
    --bs-nav-link-padding-y: 0.0rem !important;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    padding-top: 0% !important;
}

menu .nav-item {
    padding: 0 .4em;
}

main {
    flex: 1 calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("source_landscape.jpg");
    background-size: 100% 100%;
}

.login-screen {
    margin-top: .8em;
}

.poetry-card-bg {
    width: 85%;
    background-color: rgb(129, 122, 8);
    border-radius: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.poetry-card-read {
    height: 100%;
    width: 95%;
    background-color: rgb(129, 122, 8);
    border-radius: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    color:rgb(0, 0, 0) !important;
}

.poet-list-header {
    margin-top: .4em;
}

.add-header {
    margin-top: .4em;
}

.add-poetry-textarea {
    flex-shrink: inherit;
    margin-bottom: 0em;
    padding-top: .3em !important;
    padding-left: 1em;
    padding-right: 1em;
}

.add-poetry-submit {
    flex-shrink: inherit;
    box-sizing: border-box;
    margin-bottom: 1.1em;
}

#title-from-input {
    flex-shrink: inherit;
    margin-bottom: .5em;
    border-radius: 8px;
    text-align: center !important;
    width: 75%;
    height: 40px;
    
}

textarea {
    flex-shrink: inherit;
    height: 400px;
    margin-bottom: 1em !important;
    border-radius: 18px;
    box-sizing: border-box;
}

ul {
    margin-top: 1em !important;
    list-style-type: none;
    padding-left: 0 !important;
}

p {
    color:black !important;
}

#name {
    flex-shrink: inherit !important;
    border-radius: 10px;
    text-align: center;
    height: 2.5em;
    width: 15em;
}

#poetry-list {
    flex-shrink: inherit;
    height: fit-content;
    padding: 2em;
}

button {
    height: 40px;
    width: 150px;
}

.footer-div {
    font-size: medium;
    padding: 0.1em;
    padding-bottom: 0.1em;
}

@media (max-height: 400px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}

@media (max-width: 400px) {
    .poetry-card-bg {
        width: 100%;
    }
    .poetry-card-read {
        width: 100%;
    }
}

#output {
    justify-content: center;
    color: rgb(33, 63, 5);
    background: rgb(129, 122, 8);
    margin-top: 1em;
    padding: 1em;
    min-height: 5em;
    font-size: larger;
}

th {
    cursor: pointer;
}
  
td {
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

#test {
    list-style-type: none;
    text-decoration: underline;
    cursor:pointer;
}